@import "~bootstrap/scss/bootstrap";

body {
    background-color: lightgray;
}

.pokemon-container {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 20px;
    justify-items: center;
    margin: 0 auto;
    max-width: 85%;
    padding: 20px;
}

.pokemon {
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.pokemon img {
    max-width: 100%;
    height: auto;
}

.pokemon p {
    margin-top: 5px;
}

.types {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 3px;
}

.types img {
    max-width: 100%;
    height: auto;
}

.star-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    outline: none;
    padding: 0;
    border: none;
    background: none;
}

.star-path {
    fill: black; /* Initial star color */
    transition: fill 0.3s; /* Smooth fill transition */
}

.star-button.yellow-star .star-path {
    fill: yellow; /* Fill with yellow when active */
}

@media (max-width: 1080px) {
    .pokemon-container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}
